/* Universal*/

body {
    background-color: hsla(0, 0%, 20%, 1);
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
    color: white;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-margin {
    margin-left: 5rem;
    margin-right: 5rem;
}

@media only screen and (max-width: 1000px) {
    .page-margin {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

/*
Nav Bar
*/

.nav-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsla(0, 0%, 5%, 1);
}

.nav-bar span, .main-nav {
    margin: .2rem;
}

.main-nav a {
    text-decoration: none;
    color: black;
    margin: .2rem;
}

.main-nav li {
    list-style: none;
    display: inline;
}

.logo {
    font-family: 'Amatic SC', cursive;
}

/*
    Title 
*/

#page-title {
    height: 200px;
    background-image: url(../images/joan-gamell-ZS67i1HLllo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.filter {
    height: 100%;
    background-color: hsla(164, 0%, 0%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-title h1 {
    color:white;
    width: 60%;
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 400px) {
    #page-title h1 {
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }
}


/*
Portfolio
*/

#portfolio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
}

.project-card {
    height: 300px;
    grid-gap: 1px;
    grid-column-end: span 4;
    overflow: hidden;
    border-style: solid;
    border-width: .2rem;
    border-color: hsl(0, 0%, 5%);
    display: grid;
    grid-template-rows: 2fr 3fr 2fr 1fr;
}

.project-card:hover {
    background-color: hsla(0, 0%, 30%, 1);
    cursor: pointer;
}
.project-card * {
    text-align: center;
}

.project-title {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card h2 {
    text-align: center;
}

.project-image-container{
    overflow: hidden;
    width: 100%;
    height: 8rem;
}

.project-image-container img {
    display: block;
    width:100%;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.more-info {
    justify-content: center;
    align-items: center;
}

.github {
    display: flex;
    justify-content: center;
}

.demo {
    display: flex;
    justify-content: center;
}

/* Tablet Size */
@media only screen and (max-width: 768px) {
    .project-card {
        grid-column-end: span 6;
    }
   
}

/* Mobile */
@media only screen and (max-width: 488px) {
    .project-card {
        grid-column-end: span 12;
    }
   
}

#life-coach {
    grid-column-start: 1;
}

/* Contact */

#contact {
    display: grid;
    grid-template: 50px 50px 250px / repeat(12, 1fr);
}

.form-background {
    background-color: hsla(0, 0%, 70%, 1);
    grid-area: 1 / 5 / span 3 / span 4;
    z-index: 0;
}

#contact form {
    
}

#contact h2, p, label, form, .form-title{
    z-index: 2;
}

.form-title {
    grid-area: 1 / 5 / span 1 / span 4;
    
}

.form-title h2 {
    text-align: center;
    color:hsl(0, 0%, 5%);
}

.form-sub {
    grid-area: 2 / 5 / span 1 / span 4;
}

#contact p {
    color:hsla(0, 0%, 40%, 1);
    text-align: center;
    
}

#contact form {
    color:hsl(0, 0%, 5%);
    grid-area: 3 / 5 / span 1 / span 4;
    display: grid;
    grid-template: 2rem 2rem 100px / 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px 5px;
    padding: .5rem;
}

#contact form label {
    grid-column: 1 / span 1;
    text-align: right;
    padding-right: .3rem;
    vertical-align: middle;
}

#contact form input {
    grid-column: 2 / span 3;
}

#contact form textarea {
    grid-column: 2 / span 3;
}

.sumbit {
    grid-column: 3 / span 1;
}


@media only screen and (max-width: 768px) {
    .form-background {
        grid-area: 1 / 4 / span 3 / span 6;
    }
    .form-title {
        grid-area: 1 / 4 / span 1 / span 6;
    }
    .form-sub {
        grid-area: 2 / 4 / span 1 / span 6;
    }
    #contact form {
        grid-area: 3 / 4 / span 1 / span 6;

}

@media only screen and (max-width: 488px) {
    .form-background {
        grid-area: 1 / 1 / span 3 / span 12;
    }
    .form-title {
        grid-area: 1 / 1 / span 1 / span 12;
    }
    .form-sub {
        grid-area: 2 / 1 / span 1 / span 12;
    }
    #contact form {
        grid-area: 3 / 1 / span 1 / span 12;
}